#page-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#page-container > *{
    position: absolute;
}

canvas {
    display: block;
    width: 100%;
    background-color: #f3f3f3;
}