#page-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#page-container > *{
    position: absolute;
}

canvas {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
}

::ng-deep svg > rect:hover {
    outline: 1px solid red !important;
}